:root {
	/*Accent colors*/
	--color-accent-25: #f8f7fe;
	--color-accent-50: #f3f1fe;
	--color-accent-100: #efebfe;
	--color-accent-200: #d9d2fb;
	--color-accent-300: #c6bcf9;
	--color-accent-400: #ad9ff6;
	--color-accent-500: #9e80f1;
	--color-accent-600: #7e54f1;
	--color-accent-700: #5925e6;
	--color-accent-800: #2b13a8;
	--color-accent-900: #210b5f;
}
